
*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.row {
    width: 100%;
}
h1 {
    text-align: center;
}
h3 {
    float: right;
    border: 1px solid black;
    width: 80px;
    margin-top: 0px;
    margin-right: 0px;
    text-align: right;
}
div {
    float: left;
    position: relative;
    background-color:#e2e2e2 ;
    border: 1px solid black;
    justify-content: center;
    margin: 10px;
}
.h3-1{
    background-color: #F9E693
}
.h3-2{
    background-color: #deb3f5
}
.h3-3{
    background-color: #b3f5d8;
}
@media (min-width:992px) {
     .col-lg-4{
         width: 30%;
         height: 170px;
     }
    }
 @media (min-width:768px) and (max-width:991px) {
     .col-md-6{
         width: 47%;
         height: 170px;
     }
     .col-md-12 {
         width: 97%;
         height: 100x;
     }
 }
@media (max-width: 767px) {
    .col-sm-12{
        width:97%;
        height: max-content;
    }
  
}